doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(content="initial-scale=1, shrink-to-fit=no, width=device-width" name="viewport")
    link(href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i|Roboto+Mono:300,400,700|Roboto+Slab:300,400,700" rel="stylesheet")
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
    link(href="css/material-custom.min.css" rel="stylesheet")
    title
      |Questetra Support Tools
  body
    header.navbar.navbar-dark.navbar-full.bg-primary.doc-navbar-default.fixed-top
      button.navbar-toggler(aria-controls="navdrawerLeft" aria-expanded="false" aria-label="Toggle Navdrawer" data-target="#navdrawerLeft" data-toggle="navdrawer")
        span.navbar-toggler-icon
      a.navbar-brand.mr-auto(href="index.html")
        |Questetra Support Tools
    div#navdrawerLeft.navdrawer(aria-hidden="true" tabindex="-1")
      div.navdrawer-content
        div.navdrawer-header
          a.navbar-brand.px-0(href="index.html")
            |Questetra Support Tools
        nav.navdrawer-nav
          a.nav-item.nav-link(href="ui-decorator.html")
            i.material-icons.mr-2
              |style
            |Guide Panel Decorator
          //div.navdrawer-divider
          //p.navdrawer-subheader
          //  |Navdrawer subheader
    div.drawer-container-layout
      div.jumbotron
        h1.display-4
          |Questetra Support Tools
        //p.lead
        //  |This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.
      div.container-fluid
        div.row
          div.col
            div.card-deck
              div.card
                div.card-body
                  h5.card-title
                    i.material-icons.mr-2
                      |style
                    |Guide Panel Decorator
                  p.card-text
                    |You can create HTML for displaying the sharp title in "Guide Panel".
                  a.btn.btn-primary(href="ui-decorator.html")
                    |Use
                div.card-body
                  p.card-text
                    small.text-muted
                      |Related information
                  a.card-link(href="https://questetra.zendesk.com/hc/en-us/articles/360002245252-M213")
                      |M213: Guidance Shown on Operating Screen (HTML/JavaScript)
    script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js")
    //script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery.perfect-scrollbar/1.4.0/perfect-scrollbar.min.js")
    script(src="js/material.min.js")
    script(src="js/responsiveDrawer.js")